*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  font-family: 'montserrat', Helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.95);
  background-color: #1A1B21;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
h1,h2,h3,h4 {
  text-transform: capitalize;
}
a {
  color: #1A1B21;
  text-decoration: none;
}
.container {
  width: 100%;
  max-width: 480px;
  padding-inline: 1rem;
  margin: 0 auto;
}
.btn {
  padding: .5rem 2rem;
  background-color: #1A1B21;
  color: #fff;
  font-weight: 600;
  border: .5px solid #fff;
  border-radius: 5px;
  transition: all .2s ease-in-out;
}
.btn:hover, .btn:active {
  background-color: #fff;
  color: #1A1B21;
  border: .5px solid #1A1B21;
}
.hero {
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.hero > .hero_media {
  aspect-ratio: 16/9;
  max-height: 400px;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  
}

.header {
  margin-top: 2rem;
  text-align: center;
}
.header > .cta {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.infos {
  margin-top: 2rem;
}
.infos > .infos_content:nth-child(n+1) {
  margin-top: 1rem;
}
footer {
  margin-top: 1rem !important;
  background-color: #161619;

  padding-block: 1rem;
  color: #FFF;
}
footer .container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
footer a {
  color: #FFF;
  transition: all .2s ease-in-out;
}
footer a:hover {
  text-decoration: underline;
}
